body{margin: 0;
	font-family: 'Rubik', sans-serif;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0.03em;
    color: #171B21;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    overflow-x: hidden; 
}

button{cursor: pointer;}
.btn{min-width: 150px}
.btn-link{background-color: transparent;border: none;}
.btn-link:focus{border: none;outline: none;box-shadow: none;}
/*form-control*/
.form-control:focus{box-shadow: none;outline: none;border: 1px solid }
.form-group label{font-size: 14px;font-weight: 500;text-transform: capitalize;}
.error-msg{margin-top: 4px;font-size: 12px;color: red;}
textarea{resize: none;}
/*login box*/
.login-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(../images/bg-02.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.login-box{width: 450px;}
.login-form{/*box-shadow: 0 3px 9px 0px #dcd7d7;*/padding: 50px 30px;background: #fff;border-radius: 8px;}
.login-title{margin-bottom: 30px;font-size: 40px;color: #fff;}

/* header */
header{padding: 15px 0;}
/*table-block*/
.main-title{font-size: 40px;margin-bottom: 50px;color: #000;}
.table-block{margin-top: 50px;}
.table{padding: 15px;border: 1px solid;}
tr:nth-child(2n){background-color: #f7f6f6;}
tr{padding: 0 15px}
.table td, .table th{border: none;vertical-align: middle;}
.action-btn button{background: transparent;border: none;cursor: pointer;}
.action-btn button:focus{border: none;outline: none;box-shadow: none;}
/* Search */
.search-part{display: flex;align-items: center;justify-content: flex-end;margin-bottom: 20px;}
.search-box{position: relative;width: 250px;margin-left: 15px}
.search-box input{padding-right: 40px;}
.search-btn{position: absolute;top: 50%;right: 0;transform: translateY(-50%);}

/* Modal */
.modal-dialog{
	-webkit-animation: zoomOut 1s ; /* Safari 4+ */
  -moz-animation:    zoomOut 1s ; /* Fx 5+ */
  -o-animation:      zoomOut 1s ; /* Opera 12+ */
  animation:         zoomOut 1s ;
}
.modal.show .modal-dialog{
	-webkit-animation: zoomIn 1s ; /* Safari 4+ */
  -moz-animation:    zoomIn 1s ; /* Fx 5+ */
  -o-animation:      zoomIn 1s ; /* Opera 12+ */
  animation:         zoomIn 1s ;
}
@keyframes zoomIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes zoomOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
